@charset 'utf-8';

.main	{
	color: white;
	text-align: center;
	font-family: 'Noto Sans Japanese';
	padding: 20px;
}

.map	{
	display: inline-block;
	margin-right: auto;
	margin-left: auto;
}

.live	{
	display: block;
	margin-right: auto;
	margin-left: auto;
}

area:focus {
	outline: none;
}


